body{
    margin: 0rem;
    background-image: url("/images/minions.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}


.textarea {
    width: 27%;
    height: 20vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    float:left;
    position: absolute;
    top: 20rem;

}

#output{
    border: 1px solid black;
    height: 20vh;
    width: 15%;
    margin: 1rem;
    padding: 1rem;
    padding-left: 10rem;
    position: relative;
    top: 160px;
    float: right;
}


.nav-bar{
    background-color:black;
    color: #f5e050;
    padding: 2rem;
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    
}

.btn-primary{
    font-size: x-large;
    position: relative;
    left: 50%;
    top: 300px;


}

.output-line{
    font-size: x-large;
    font-weight: bold;
    position: relative;
    left: 990px;
    top: 160px;
}